@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="BrandInfo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BrandInfoTableToolbar" role="group">
                            @if(shiro.hasPermission("/brandInfo/add")){
                                <#button name="添加" icon="fa-plus" clickFun="BrandInfo.openAddBrandInfo()"/>
                            @}
                            @if(shiro.hasPermission("/brandInfo/update")){
                                <#button name="修改" icon="fa-edit" clickFun="BrandInfo.openBrandInfoDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/brandInfo/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="BrandInfo.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="BrandInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/product/brandInfo/brandInfo.js"></script>
@}
